@model Municipality.Model.DistrictMunicipality
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMun.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3 border border-4 rounded rounded-3 p-4">
            <h3 class="text-info p-2 m-1 text-center">Add Municipality</h3>
            <form method="post" asp-action="Create">
                <div class="form-check">
                    <label asp-for="DistMunName"></label>
                    <input type="text" asp-for="DistMunName" class="form-control" placeholder="Enter Municipality Name" />

                </div>
                <div class="form-check">
                    <label asp-for="DistMunAddress"></label>
                    <input type="text" asp-for="DistMunAddress" class="form-control" placeholder="Enter Municipality Address" />

                </div>
                <div class="form-check">
                    <label asp-for="DistMunCity"></label>
                    <input type="text" asp-for="DistMunCity" class="form-control" placeholder="Enter Municipality City" />

                </div>

                <div class="form-check">
                    <label asp-for="DistMunPhone"></label>
                    <input type="text" asp-for="DistMunPhone" class="form-control" placeholder="Enter Municipality Phone" />

                </div>



                <div class="form-check">

                    <div>
                        <input type="submit" class="btn btn-sm btn-primary m-2 p-2 float-end" value="Save" />
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

